.qty-button {
    background-color: transparent;
    border-color: transparent;
}

.qty-svg {
    display: block;
    min-width: 15px;
    max-width: 20px;
}

.qty-button-left {
    margin-right: 10%;
}

.qty-button-right {
    margin-left: 10%;
}

.qty button:hover {
    border: none;
    background: none;
}

.cart-item-name {
    margin-right: -100px;
}

@media screen and (max-width: 412px) {
    .qty-svg {
        min-width: 12px;
        max-width: 12px;
        display: block;
    }

    .qty-button-left {
        margin-right: 0;
    }

    .qty-button-right {
        margin-left: 0;
    }

    div > h3 {
        font-size: 20px;
    }
}